.nav-link
{
	float: left;
		border-radius: 20px;

}
.nav-link:hover
{
	transition-duration: 1s;
	background-color: skyblue;

	text-align: left;

}

#title
{
	background-color: steelblue;
}


      .navbar .nav-link {
        color: #fff !important;}



#carousel
{
	justify-content: center;
}
#button_contact_home:hover
{
	transition-duration: 1s;
	background-color: skyblue;
}